*{ margin:0px; padding:0px; font-family:Helvetica;}
.bd{ width:100%; height:auto; background:purple;}
.con{ width:1200px; height:1600px; margin:0px auto; background:white;}
.logo{width:210px; height:70px; margin:0px 0px px 20px;  float:left; text-align:center; }
.add{width:120px; height:60px;  float:right; margin:20px 40px 0px 20px; }

.l{width:120px; height:70;}
ul{list-style:none; }
ul li{display:inline; float:left;}
a:link, a:visited{color:#1052ad; text-decoration:none; font-size:17px; display:block;
 width:120px; height:30px; margin-top:25px;text-align:center; padding-top:10px; margin-bottom:20px; font-weight:bold; }
a:hover{background:#1052ad; color:white; border-radius:10px; }
.clearfix{clear:both}
.header{width:250px; height:360px; border:solid 1px blue; margin:10px 0px 0px 40px; float:left;
border-radius:20px; position:relative; text-align:center;}
 .product{ width:240px; height:250px; background:purple; margin:5px 5px 5px 5px; border-radius:10px;}
 .q{ font-size:17px; font-weight:bold; top:260px; position:absolute; left:36px;}
 .del{ font-size:17px; opacity:0.5; top:290px; position:absolute; left:55px;}
.d{ font-size:17px;  top:290px; font-weight:bold; position:absolute; left:120px; }
 .bton{ border:solid 1px #1052ad; padding:5px 10px 5px 10px; border-radius:10px; background:#1052ad; color:white; 
position:absolute; top:320px; left:140px;}
.cart{  border:solid 1px #1052ad; padding:5px 10px 5px 10px; border-radius:10px; background:#1052ad; color:white; 
position:absolute; top:320px; left:30px;}
.m{font-size:17px; opacity:0.5; top:290px; position:absolute; left:36px;}
.mainheader{width:1200px; height:600px; background:url("images/header.png");}
.heading{width:600px; height:400px; margin:20px 0px 0px 20px; position:relative;}
.of{top:70px; font-family:roboto; position:absolute;}
.for{top:190px; font-family:roboto; position:absolute;}
.know{ border:solid 1px #1052ad; padding:10px; position:absolute; background:#1052ad; top:240px; border-radius:20px; color:white;}
.cat{color:#1052ad;}
.cate{width:250px; height:360px; border:solid 1px blue; margin:20px 0px 0px 40px; float:left;
border-radius:20px; position:relative; text-align:center; margin-bottom:20px;}
.new{width:240px; height:300px; margin:5px 5px 0px 5px; background:purple; position:relative;}
.now{padding:10px; margin:10px; background:#1052ad; border-radius:20px; color:white;
border:solid 2px #1052ad;}
.upon{position:absolute; background:white; padding:10px; left:80px; border-radius:10px;}
.new, .radius{border-radius:20px;}
.media{position:absolute; top:300px; font-size:20px;}
.fa{ padding-top:10px; position:absolute; padding-left:10px; top:350px; text-align:center; color:#1052ad; font-size:36px; border-radius:15px; padding-right:10px; height:30px; width:30px; display:block;}
.fa:hover{ background:#1052ad; color:white;}
 .ins{ padding-top:10px; position:absolute; padding-left:10px; top:350px; left:40px; text-align:center; color:#1052ad; font-size:36px; border-radius:15px; padding-right:10px; height:30px; width:30px; display:block;}
.fa:hover{ background:#1052ad; color:white;}
.twi{ padding-top:10px; position:absolute; padding-left:10px; top:350px; left:80px; text-align:center; color:#1052ad; font-size:36px; border-radius:15px; padding-right:10px; height:30px; width:30px; display:block;}
.fa:hover{ background:#1052ad; color:white;}

.at {padding-top:10px; padding-left:10px; top:27px; font-size:40px; left:1140px; text-align:center; color:#1052ad; border-radius:15px; padding-right:10px; height:30px; width:30px; display:block;}
.fa:hover{ background:#1052ad; color:white;}
 .z{ font-size:17px; font-weight:bold; top:260px; position:absolute; left:100px;}
